### Entire paths and folders
Amadeus/Externals
Amadeus/Obj
Amadeus/Assets/Saves
#Docs
.vs

### Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

### Compiled Dynamic libraries
*.so
*.dylib
*.dll
### Compiled Static libraries
*.lai
*.la
*.a
*.lib
### Executables
*.exe
*.out
*.app

### Temporary compiled files
*.tlog
*.log
*.lastbuildstate
*.cache
*.ilk

### Databases
*.idb
*.pdb
*.ipdb

### Visual Studio
*.sdf
*.suo
*.opensdf
*.opendb
*.vcxproj.user
*.VC.db
*.tmp